
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>User Registration!</h4>
    <p>
      Hi <%= @user.name %>,
    </p>
    <p>
      Your registration has been successful.
    </p>
    <p>Thanks you for joining with us and have a great day!</p>
  </body>
</html>