
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @user.name %>,
    </p>
    <p>
      We have decided to remove you from the event <%= @event.name %> because this event is just for internal people.
    </p>
    <p>Inconvinence regretted and have a great day!</p>
  </body>
</html>