<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>New News</h4>
    <p>
      Hi PG,
    </p>
    <p>
      New news has been posted in club by Palman.
      Please visit the following link: <%= link_to 'View News', news_url(News.first, host: 'localhost:3000')%>.
    </p>
    <p>Thanks you and have a great day!</p>
  </body>
</html>